<div class="row">

    <div class="text-center mt-3">
        <h2>Your matches - {{memberService.paginatedResult()?.pagination?.totalItems}} found</h2>
    </div>

    <div class="container mt-3">
        <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">       
            <div class="d-flex mx-2">
                <label class="col-form-label" for="minAge">Age from:</label>
                <input type="number"
                 name="minAge" 
                 [(ngModel)]="memberService.userParams().minAge" 
                 class="form-control mx-2"
                 style="width: 90px;">
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label" for="maxAge">Age To</label>
                <input type="number" 
                name="maxAge" 
                [(ngModel)]="memberService.userParams().maxAge" 
                class="form-control mx-2"
                style="width: 90px;">
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label" for="maxAge">Show:</label>
                <select name="gender" style="width: auto    ;"
                [(ngModel)]="memberService.userParams().gender" 
                class="form-select ms-1">
                   @for (gender of genderList; track gender.value) {
                       <option value="{{gender.value}}">{{gender.display}}</option>
                   }
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary mx-2" (click)="resetFilters()">Reset Filters</button>
            <button type="submit" class="btn btn-primary mx-2">Apply Filters</button>
        
            <div class="col">
                <div class="btn-group float-end">
                    <button 
                    type="button" 
                    class="btn btn-primary mx-2" 
                    name="orderBy"
                    (click)="loadMembers()" 
                    btnRadio="lastActive" 
                    [(ngModel)]="memberService.userParams().orderBy"
                    >Last Active</button>
                    <button 
                    type="button" 
                    class="btn btn-primary mx-2" 
                    name="orderBy"
                    (click)="loadMembers()" 
                    btnRadio="created" 
                    [(ngModel)]="memberService.userParams().orderBy"
                    >Newest Members</button>
                </div>
            </div>
        </form>
    </div>

    @for (member of memberService.paginatedResult()?.items; track member.id) {
        <div class="col-2">
           <app-member-card [member]="member"></app-member-card>
        </div>
    }
</div>

@if (memberService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
    [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="memberService.paginatedResult()?.pagination!.currentPage"
    [maxSize]="10"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">

</pagination>
</div>}

